<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>猎鹰人员库下载、自动更新</title>
 <style type="text/css">
	 table{
		 width: 100%;
		 text-align: left;
	 }
	 .th{
		 height: 30px;
		 width: 10%;
		 
	 }
	 td{
		 height: 30px;
		 width: 6cm;
		 text-align: left;
	 }
	 .ts  {
		 width: 50cm;
		 text-align: left;
	}
	 
 </style>
</head>
<body>
    <form action="/main/deal_request" method="post">
	<table summary="this is a form">
		<tr>
		<td class="th">function:</td>
		<td>
		<input type="radio" name="function" value="update">update 
		<input type="radio" name="function" value="download">download
		</td>
		<td class="ts"> 程序支持的主功能，下载与更新，模式二选一 </td>
		</tr>
		<tr>
		<td class="th">download_dir:</td>
		{%if configs_dict.download_dir %}
		<td><input type="text" name="download_dir" value={{configs_dict.download_dir}}/></td>
		</tr>
		<tr>
		<td class="th">download_dir_start_num:</td>
		<td><input type="text" name="download_dir_start_num" /></td>
		</tr>
		<tr>
		<td class="th">download_pic_group:</td>
		<td><input type="text" name="download_pic_group" /></td>
		</tr>
		<tr>
		<td class="th">download_start:</td>
		<td><input type="text" name="download_start" /></td>
		</tr>
		<tr>
		<td class="th">download_end:</td>
		<td><input type="text" name="download_end" /></td>
		</tr>
		<tr>
		<td class="th">download_type:</td>
		<td><select id="download_type" class="select" >
			<option value="oracle" selected>oracle</option>
			<option value="mysql" >mysql</option>
			</select>
		</td>
		</tr>
		<tr>
		<td class="th">full_update:</td>
		<td><input type="radio" name="on_off" value="on">on 
			<input type="radio" name="on_off" value="off">off
		</td>
		</tr>
		<tr>
		<td class="th">redis_ip:</td>
		<td><input type="text" name="redis_ip" /></td>
		</tr>
		<tr>
		<td class="th">redis_pwd:</td>
		<td><input type="password" name="redis_pwd"></td>
		</tr>
		<tr>
		<td class="th">update_source:</td>
		<td><input type="text" name="update_source" /></td>
		</tr>
		<tr>
		<td ><input type="submit" value="提交" /></td>
		</tr>

	</table> 
    </form>
</body>
</html>